.firstSection {
  display: flex;
  justify-content: space-between;
  color: #000;
  align-items: center;
}
.firstSection a {
  color: #000;
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}
.summaryContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}
.CartContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  background: #f1f1f1;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #000;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-wrap: nowrap;
}
.quantityContainer {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #f1f1f1;
  align-items: center;
  gap: 1rem;
}
.hidequantityContainer {
  display: none;
}
.btn {
  width: 100%;
  height: 3rem;
  background: #d87d4a;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:hover {
  background: #fbaf85;
}
a:hover {
  color: #fbaf85;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
