.firstSection{
    display: flex;
    justify-content: space-between;
    width: 389px;
    color: #000;
    margin-bottom: 10%;
    margin-top: 9%;
    align-items: center;
}
.firstSection a {
    color: #000;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 313px;
    height: 64px;
    align-items: center;
    gap: 25%;
    margin-bottom: 10%;
}
.summaryContainer{
    display: flex;
    justify-content: space-around;
    /* width: fit-content; */
    height: 64px;
    align-items: flex-start;
    gap: 25%;
    margin-bottom: 10%;
}
.img{
width: 64px;
height: 64px;
border-radius: 8px;
background: #F1F1F1;
}

.textSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75px;
    gap: 2%;
}
.textSection p{
    width: 100px;
}
.title{
    color: #000;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-wrap: nowrap;
}
.quantityContainer{
    display: flex;
    justify-content: space-around;
    width: 96px;
    height: 32px;
    background: #F1F1F1;
    align-items: center;
    padding: 5%;
    margin-left: 18%
}
.hidequantityContainer{
    display: none;
}
.btn {
width: 313px;
height: 48px;
background: #D87D4A;
color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 5%;
}
.btn:hover{
    background: #FBAF85;
}
a:hover{color: #FBAF85;}

.totalAmount{
   display: flex;
   justify-content: space-between;
   gap: 198px;
   width: 308px;
   margin-bottom: 7%;
   margin-top: 5%;
   color: #000;
font-family: Manrope;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px
}

