.pageContainer {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5rem;
  border-radius: 8px;
  background: #fff;
  padding: 3rem;
  gap: 2rem;
}
.sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.rowSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.fullLength {
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
}
input {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
}
input:focus {
  border: 1px solid #d87d4a;
}
.errorInput {
  border: 1px solid red;
}
.labelposition {
  display: flex;
  flex-direction: column;
}
.radio {
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
  display: flex;
  align-items: center;
}
.radioContainer {
  gap: 1rem;
}

.sections h3 {
  color: rgb(216, 125, 74);
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.929px;
  text-transform: uppercase;
}
.errorMessage {
  color: red;
}
/* Tablet */
@media (max-width: 1024px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
  }

  .sections {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .pageContainer {
    align-items: center;
  }
  .container {
    padding: 5rem;
  }

  .rowSections {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
