.container {
  display: flex;
  justify-content: space-between;
}
.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 11rem 4rem 8rem;
  gap: 2rem;
}

.leftSection h2 {
  letter-spacing: 1.143px;
  text-transform: uppercase;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  gap: 2rem;
}
.rightSection ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.6rem;
}
.rightSection li {
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.rightSection h2 {
  letter-spacing: 1.143px;
  text-transform: uppercase;
}
.rightSection span {
  gap: 2%;
  color: #d87d4a;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 3rem;
  }
  .rightSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
  }
  .rightSection ul {
    margin-top: 1%;
  }
  .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 3rem;
  }
  .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    gap: 1rem;
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  .rightSection li {
    justify-content: flex-start;
  }
  .rightSection ul {
    align-items: flex-start;
  }
}
