.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.rightSection {
  border-radius: 1rem;
  width: -webkit-fill-available;
  padding: 0.3rem;
}
.leftSection img {
  border-radius: 1rem;
  width: -webkit-fill-available;
  padding: 0.3rem;
}

/* Tablet */
@media (max-width: 1024px) {
  img.rightSection {
    border-radius: 1rem;
    width: -webkit-fill-available;
    padding: 0.3rem;
  }
  .leftSection img {
    border-radius: 1rem;
    width: -webkit-fill-available;
    padding: 0.3rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  img.rightSection {
    border-radius: 1rem;
    width: -webkit-fill-available;
    padding: 0.3rem;
  }
  .leftSection img {
    border-radius: 1rem;
    width: -webkit-fill-available;
    padding: 0.3rem;
  }
}
