.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.productLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.product {
  display: flex;
  justify-content: space-evenly;
  /* gap: 5%; */
}
.Image {
  background-color: #f1f1f1;
  max-inline-size: 100%;
  block-size: auto;
}
.Image h2 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.714px;
}
.title {
  color: #000;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 1.143px;
  text-transform: uppercase;
  text-wrap: nowrap;
  padding: 1rem;
}

.btn {
  width: 160px;
  background: #d87d4a;
  color: #fff;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 1rem;
}
.Image {
  border-radius: 0.5rem;
}
/* Tablet */
@media (max-width: 1024px) {
  .productLayout {
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .productLayout {
    justify-content: space-evenly;
    gap: 1rem;
  }
  .ImageContainer {
    /* padding: 1rem 6rem 1rem 6rem; */
    gap: 1rem;
  }

  .btn {
    width: 160px;
    background: #d87d4a;
    color: #fff;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    padding: 1rem;
  }
}
