.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}
.row-reverse {
  flex-direction: row-reverse;
}
.singleProductContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 13rem 4rem 4rem 3rem;
}
.leftSection {
  border-radius: 8px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.leftSectionSingleProduct {
  border-radius: 8px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.rigthSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 12rem 2rem 12rem;
  gap: 2rem;
}
.rightSectionSingle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 7rem;
  gap: 2rem;
}
.rightSectionSingle p {
  /* width: 445px; */
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.btn {
  width: 160px;
  height: 48px;
  background: #d87d4a;
  color: #fff;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}
.btn:hover {
  background: #fbaf85;
}
.img {
  width: 349.238px;
  height: 386px;
}
.rightSectionSingle .price {
  color: #000;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
  opacity: 1;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 706px;
    justify-content: space-evenly;
    margin-top: 9%;
    align-items: center;
    gap: 0;
    padding: unset;
  }

  .singleProductContainer {
    padding: 5rem 1rem 5rem 1rem;
  }

  .leftSection {
    padding: 2rem 12rem 2rem 12rem;
  }

  .leftSectionSingleProduct {
    border-radius: 8px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem 5rem 1rem;
  }
  .rigthSection {
    justify-content: space-evenly;
    align-items: center;
  }
  .rightSectionSingle {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
    word-wrap: break-word;
    overflow: hidden;
    padding: 3rem;
    gap: 2rem;
  }

  .rightSectionSingle button {
    height: 48px;
  }
  .img {
    width: 220px;
    height: 243px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;
    align-items: center;
    gap: 0;
    padding: unset;
  }
  .singleProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .leftSection {
    padding: 2rem;
  }
  .leftSectionSingleProduct {
    padding: 2rem;
  }

  .rigthSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: unset;
  }
  .rightSectionSingle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    white-space: wrap;
    text-overflow: ellipsis;
    padding: 1rem;
  }

  .rightSectionSingle h1 {
    font-size: 28px;
    letter-spacing: 1px;
  }
  .img {
    width: 220px;
    height: 243px;
  }
}
