.container{
width: 427px;
min-height: 612px;
height: fit-content;
border-radius: 8px;
background: #FFF;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: 10%;
padding: 37px;
}
.btn{
 width: 284px;
 height: 48px;
 background: #D87D4A;
 color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
margin-left: 31px;
}

.priceSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;

}

span{
color: #000;
font-family: Manrope;
/* font-size: 15px; */
font-style: normal;
font-weight: 500;
line-height: 25px; 
opacity: 0.5;
text-align: right;
margin-right: 2%;
}

h3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    
    .container{
     width: 634px;
     height: 612px;
     margin-top: 2%;
     margin-left: 5%;
    padding: 37px;
        }
        .btn{
            margin-left: 0px;
            width: 547px;
        }
        .priceSection{
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            height: 50%;
}}

@media (max-width: 376px) {
    .container{
    width: 327px;
height: 612px;
}
.btn{width: 279px;
    height: 48px;}
span{color: #000;}
}